html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    font-weight: 300;
    color: #62686f;

    background-size: cover;
    background: url(../img/bg5.jpg) fixed center;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 300;
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

.container {
    width: 960px;
    margin: 105px auto;
}

.main-header {
    padding: 1px;
    background-image: url(../img/banner.jpg);
}

.main-header__avatar {
    display: block;
    margin: -70px auto 10px;
    border: 3px solid #fff;
    border-radius: 999px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);

}

.main-header h1 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    color: white;
}

.main-nav {
    padding: 1px;
    text-align: center;
    background-color: #333;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav ul li {
    display: inline-block;
    margin: 15px 10px;
}

.main-nav ul li a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.info-section {
    padding: 30px 60px;
    background-color: #fff;
}

.whatido {
    text-align: center;
}

.info-section header h2:after {
    display: block;
    margin: 20px auto 0;
    width: 85px;
    content: "";
    border-bottom: 3px solid black;
}

.info-section header {
    text-align: center;
}

.info-section header h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.info-section__description {
    font-style: italic;
}

.whatido__skill-list {
    /*overflow: hidden;*/
    list-style: none;
    padding: 0;
    margin: 60px 0 0;
}

.whatido__skill {
    float: left;
    padding-top: 100px;
}

.whatido__skill--code {
    width: 33.3%;
    background: url(../img/skill-code.png) no-repeat center top;
}

.whatido__skill--design {
    width: 33.3%;
    background: url(../img/skill-design.png) no-repeat center top;
}

.whatido__skill--product {
    width: 33.3%;
    background: url(../img/skill-product.png) no-repeat center top;
}

.education-experience__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.education-experience__list li {
    margin: 20px 10px;
    overflow: hidden;
}

.education-experience__list li img {
    margin-right: 20px;
    float: left;
    width: 180px;
}

.education-experience__list__description {
    overflow: hidden;
}

.photos__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.photos__list li {
    float: left;
    width: 25%;
}

.photos__list li img {
    padding: 10px;
    width: 100%;
}

.get-in-touch__list {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.get-in-touch__list li {
    float: left;
    width: 25%;
    margin-top: 20px;
}

.contact input,
.contact textarea {
    width: 100%;

    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

.contact button {
    width: 100%;
    padding: 8px;

    border: none;
    border-radius: 9999px;

    background: #ffd524;

    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    color: #fff;
    box-shadow: 0 3px 0 #daae1d;
}

.contact form {
    margin: 0 auto;
    width: 40%;
}

.contact .form-item {
    position: relative;
    margin: 20px 0;
}

.contact .form-item label {
    padding: 8px 8px 0 0;
    text-align: right;
    position: absolute;
    left: -100%;
    width: 100%;
}